<div class="search-bar">
    <span>
        <input class="search" id="Search" type="text" placeholder="Search">
    </span>

    <style>
        .search-bar{
            width: 80%;
            padding-left: 30px;
            padding-right: 30px;

        }
        .search-bar input{
            width: 100%;
          background-color:#31325A ;
          height: 50px;
          border-radius: 10px;
          border: none;
          padding-left: 10px;
          color: white;
        }

        .search-bar input::placeholder{
            color: white;
        }
    </style>
</div>